/Cours/
TP1-2/Doc/*
TP1-2/Filtre/*
TP3-4/STP/*
Main/Docs/*
Main/Filtre/*
Main/STP/*
Main/Representations/*
Main/FiltreQ/*
Main/STPQ/*
Main/RepresentationsQuery/*
Main/Reqs/*
Main/RQFiltre/*
Main/RQSTP/*
Main/Querys/
Main/RepBi/
Main/RepBiQ/
Main/RepFq/
Main/RepFqQ/
RepTFID/
*.o

